@import "tailwindcss";
@plugin "tailwindcss-primeui";

@theme {
    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    --container-sm: 640px;
    --container-md: 768px;
    --container-lg: 1024px;
    --container-xl: 1280px;
    --container-2xl: 1536px;

    --animate-infinite-scroll: infinite-scroll 40s linear infinite;

    @keyframes infinite-scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }
}

/* Base Styles */
body {
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* PrimeVue Compact Overrides */
.p-select {
    --p-select-padding-y: 0.25rem;
    --p-select-padding-x: 0.5rem;
}

.p-select-option {
    padding: 0.375rem 0.75rem !important;
    font-size: 0.875rem !important;
}

.p-inputtext {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    font-size: 0.875rem !important;
}

.p-button {
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important;
    font-size: 0.875rem !important;
}

.p-button-sm {
    font-size: 0.75rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.p-card {
    border-radius: 4px !important;
}

.p-datatable-header-cell {
    font-size: 0.75rem !important;
}

.p-datatable-body-cell {
    font-size: 0.875rem !important;
}