@import "tailwindcss";
@plugin "tailwindcss-primeui";

/* Base Styles */
body {
    --p-content-border-radius: 2px;
    --p-rounded-base: 2px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}